<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <link rel="stylesheet" href="assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="assets/stylesheets/main.css">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <script>
    $(document).ready(function(){
      $(".toggle").click(function(){
        $(".inner-description").slideToggle();
      });
    });
  </script>

  <script>
    $(document).ready(function(){
      $(".dota").click(function(){
        $(".dota .inner-description").slideToggle();
      });
    });
    $(document).ready(function(){
      $(".dragonage").click(function(){
        $(".dragonage .inner-description").slideToggle();
      });
    });
    $(document).ready(function(){
      $(".gwtdt").click(function(){
        $(".gwtdt .inner-description").slideToggle();
      });
    });
    $(document).ready(function(){
      $(".got").click(function(){
        $(".got .inner-description").slideToggle();
      });
    });
    $(document).ready(function(){
      $(".masseffect").click(function(){
        $(".masseffect .inner-description").slideToggle();
      });
    });
    $(document).ready(function(){
      $(".newgirl").click(function(){
        $(".newgirl .inner-description").slideToggle();
      });
    });
    $(document).ready(function(){
      $(".siliconvalley").click(function(){
        $(".siliconvalley .inner-description").slideToggle();
      });
    });
    $(document).ready(function(){
      $(".starwars").click(function(){
        $(".starwars .inner-description").slideToggle();
      });
    });
    $(document).ready(function(){
      $(".wow").click(function(){
        $(".wow .inner-description").slideToggle();
      });
    });
  </script>

</head>
