/* ==========================================
   Style guide
   ========================================== */

/* ==========================================
   Basic page elements
   ========================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #555;
  color: #fff;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

header {
  background: #212121;
  border-bottom: 1px solid #000;
  padding: 1rem 2rem;
}

.page-title {
  color: #999;
  display: block;
  float: left;
  text-transform: uppercase;
  font-weight: 700;
}

.toggle {
  background: #000;
  border-radius: 12px;
  color: #555;
  cursor: pointer;
  float: right;
  font-size: .7rem;
  font-weight: 700;
  line-height: 18px;
  padding: .2rem 1rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ==========================================
   Grid
   ========================================== */

.wrapper { width: 100%; }

.card {
  border-bottom: 1px solid #000;
  float: none;
  width: 100%
}

@media screen and (min-width: 560px) {
  .card {
    border-right: 1px solid #000;
    float: left;
    height: 260px;
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .card { width: 33.3%; }
}

.card-overlay {
  background: rgba(0, 0, 0, 0.3);
  display: block;
  width: 100%;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (min-width: 560px) {
  .card-overlay { height: 260px; }
}

.card-overlay:hover { background: none; }

.inner { padding: 1rem; }

@media screen and (max-width: 559px) {
  .inner { padding: 2rem 1rem; }
}

.inner-title {
  background: #212121;
  color: #eee;
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  padding: .2rem .5rem;
  text-transform: uppercase;
}

.inner-description {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: none;
  font-size: .8rem;
  margin-top: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 559px) {
  .inner-description { font-size: .9rem; }
}

.card-overlay:target .inner-description { display: block; }

.inner-footer { margin-top: 1rem; }

.inner-footer a {
  color: #fff;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.inner a:hover { color: #ffb03b; }

.inner-footer a:after {
  color: #ffb03b;
  content: " ➝";
}

.wow {
  background: url("../../assets/images/wow.jpg") no-repeat;
  background-position: 50% 10%;
  background-size: cover;
}

.masseffect {
  background: url("../../assets/images/masseffect.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.starwars {
  background: url("../../assets/images/starwars.jpg") no-repeat;
  background-position: 50% 20%;
  background-size: cover;
}

.got {
  background: url("../../assets/images/got.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.gtav {
  background: url("../../assets/images/gta.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.dota {
  background: url("../../assets/images/dota.jpg") no-repeat;
  background-position: 50% 10%;
  background-size: cover;
}

.siliconvalley {
  background: url("../../assets/images/siliconvalley.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.h1z1 {
  background: url("../../assets/images/h1z1.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.dragonage {
  background: url("../../assets/images/dragonage.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

/* ==========================================
   Clearfix
   ========================================== */

 header, .container, .card-container, .description {
   clear: both;
   *zoom: 1;
 }

header:before, .container:before, .card-container:before,
header:after, .container:after, .card-container:after {
  clear: both;
  content: " ";
  display: table;
}
