/* ==========================================
   Style guide
   ========================================== */

/* ==========================================
   Basic page elements
   ========================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #555;
  color: #fff;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

/* ==========================================
   Grid
   ========================================== */

.row { width: 100%; }

.column {
  border-left: 1px solid #212121;
  border-bottom: 1px solid #212121;
  float: left;
  width: 33.3%;
}

.column:last-of-type { border-right: none; }

@media screen and (min-width: 601px) {
  .column { height: 250px; }
}

@media screen and (max-width: 600px) {
  .column {
    float: none;
    width: 100%;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  display: block;
  width: 100%;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}

@media screen and (min-width: 601px) {
  .overlay { height: 250px; }
}

.overlay:hover { background: none; }

.inner { padding: 1rem; }

.item-title {
  background: #212121;
  color: #eee;
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  padding: .2rem .5rem;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .inner { padding: 2rem 1rem; }
}

.description {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: none;
  font-size: .8rem;
  margin-top: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .description { font-size: .9rem; }
}

.description-footer {
  margin-top: 1rem;
}

.description-footer a {
  color: #fff;
  font-size: 90%;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.description-footer a:after {
  color: #ff5744;
  content: " ➝";
}

.description a:hover { color: #ccc; }

.overlay:hover .description { display: block; }

.wow {
  background: url("../../assets/images/wow.jpg") no-repeat;
  background-position: 50% 10%;
  background-size: cover;
}

.masseffect {
  background: url("../../assets/images/masseffect.jpg") no-repeat;
  background-position: 0;
  background-size: cover;
}

.starwars {
  background: url("../../assets/images/starwars.jpg") no-repeat;
  background-position: 50% 20%;
  background-size: cover;
}

.got {
  background: url("../../assets/images/got.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.gtav {
  background: url("../../assets/images/gta.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.dota {
  background: url("../../assets/images/dota.jpg") no-repeat;
  background-position: 50% 10%;
  background-size: cover;
}

.siliconvalley {
  background: url("../../assets/images/siliconvalley.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.h1z1 {
  background: url("../../assets/images/h1z1.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.dragonage {
  background: url("../../assets/images/dragonage.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

/* ==========================================
   Clearfix
   ========================================== */

 .container, .row, .description {
   clear: both;
   *zoom: 1;
 }

.container:before, .row:before,
.container:after, .row:after {
  clear: both;
  content: " ";
  display: table;
}
